{
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "syntax-decorators",
        "transform-class-properties"
    ],
    "env": {
        "local": {
            "presets": ["react-hmre"]
        }
    }
}
