<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>MyApp</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="fragment" content="!" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:site_name" content="fb_share_site_name">
    <meta property="og:description" content="fb_share_description">
    <meta property="og:title" content="fb_share_title">
    <link rel="dns-prefetch" href="https://www.google.com">
</head>
<body>
    <div id="app" class="layout"></div>
</body>
</html>
