<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Custom dynamic properties can be set directly in webpack config inside "HtmlWebpackPlugin" options object, such as "title" for example, and be used here as
    <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Test Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="fragment" content="!" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <!-- In order to boost performance in production, consider "dns-prefetching" all the 3rd party domains -->
    <link rel="dns-prefetch" href="https://google.com">
</head>
<body>
  <div id="app"></div>
</body>
</html>
